/* Blog Index Page */

.blog {
    /*  */
}


.blogHeader {
    margin: 3em 2em 3em 2em;
}

a {
    text-decoration: none;
}

/* horizontal line */
.line {
    height: 0.4em;
    background: black;
}

.blogPostFooter {
    margin: 3em 0 0 0;
}

/* Blog Post Page */

.post {
    margin: 2em 0 0 0;
}

.backLink {
    font-style: italic;
}


.postContent {
    margin: 2em 0;
}

.categoryPost {
    margin: 2em 0;
}
